{% extends "layout.html" %}

{% block pagetitle %}Guestbook{% endblock %}

{% block content %}
<h2>Guestbook</h2>

<p>
Write a thing! Say hi! Feel free to advertise yourself if you aren't a robot.
Just FYI, all posts must be manually approved by a human (me) so if you don't
see your post up right away that's why.
</p>

<form method="POST" action="{{ url_for('guestbook_bp.index') }}">
	{{ form.hidden_tag() }}
	{{ form.poster.label }}<br>
	{{ form.poster(size=36) }}<br>
	{{ form.post.label }}<br>
	{{ form.post(rows=5, cols=40) }}<br>
	<input type="submit" value="Submit">
</form>

{% if form_errors %}
{{form_errors}}
{% endif %}

<hr>

{% for post in posts | sort(attribute="post_time", reverse=True) %}
<p>
	At {{ post.post_time.isoformat() }}, <b>{{ post.poster }}</b> said: {{ post.post }}
</p>
{% endfor %}
<p>
{% if page > 1 %}
<a href={{url_for('guestbook_bp.index') ~ "?page=" ~ (page - 1)|string }}>Prev</a>
{% endif %}
::
{% if has_more_pages %}
<a href={{url_for('guestbook_bp.index') ~ "?page=" ~ (page + 1)|string }}>Next</a>
{% endif %}
{% endblock %}
