<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
		<title>The Blog of the Bando: {% block pagetitle %}{% endblock %}</title>
		{% block head %}
		{% endblock %}
	</head>
	<body>
		<div class="container">
			<h1>The Blog of The Bando</h1>
			<div>
				<a href="/">Home</a> |
				<a href="{{url_for('archive')}}">Archive</a> |
				{% for page in pages.get_pages() %}
				<a href="{{ url_for('page', slug=page.slug()) }}">{{ page.title }}</a>
				{% if not loop.last %} | {% endif %}
				{% endfor %}
			</div>
			<h2>{% block title %}{% endblock %}</h2>
			<main>{% block content %}{% endblock %}</main>
			<footer>
				<div>
					<a href="https://hotlinewebring.club/gabethebando/previous">&lt;</a>
					::
					<a href="https://hotlinewebring.club">Hotline Webring</a>
					::
					<a href="https://hotlinewebring.club/gabethebando/next">&gt;</a>
				</div>
				<div>
					Copyright 2026-forever gabethebando
				</div>
				<div style="display: flex">
					<span>
						<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">
							<img src="https://mirrors.creativecommons.org/presskit/buttons/88x31/png/by-nc-sa.png" style="display: inline; height: 31px; width:100%;"/>
						</a>
					</span>
				</div>
			</footer>
		</div>

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
	</body>
</html>
